.header {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.types {
  display: flex;
  justify-content: center;
  padding: 15px;
  pointer-events: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titlePic {
  height: auto;
  width: 45%;
}

.picture,
.picture-shiny {
  height: auto;
  width: 40%;
}

.type1{
    padding-left: 45px;
    padding-right: 45px;
}

.type2{
    padding-left: 40px;
    padding-right: 40px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 35px;
}

.moveNum{
  width: 30px;
}